.login-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100vh;
  width: 100%;
}

.login-form {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 75.83%;
}

.login-input {
  border-radius: 50px;
  border-style: none;
  border: 2px #7e7e7e solid;
  background-color: #e8e8e8;
  font-size: 25px;
  padding: 20px;
}

.login-button {
  transform: scale(1);
  border-radius: 15px;
  border: none;
  font-size: 25px;
  background-image: linear-gradient(
    to left,
    rgba(0, 188, 255, 1),
    rgba(100, 114, 243, 1)
  );
  color: white;
  font-weight: bold;
  cursor: pointer;
  transition: transform 0.2s ease-in-out;
  padding: 0;
}

.login-button:hover {
  transform: scale(1.025);
  transition: transform 0.2s ease-in-out;
}

.login-form-item {
  width: 100%;
  margin-bottom: 50px;
  height: 70px;
}

.welcome-message {
  margin-bottom: 50px;
  width: 75.83%;
  text-align: left;
  font-size: 60px;
}

.forgot-password {
  color: #07b6fe;
  cursor: pointer;
}

.password-container {
  position: relative;
  width: 100%;
  height: 70px;
  padding: 0px;
  margin-bottom: 50px;
}

.password-item {
  width: 100%;
  height: 100%;
  padding-top: 20px;
  padding-bottom: 20px;
  padding-left: 20px;
  padding-right: 80px;
}

.show-password {
  position: absolute;
  width: 40px;
  height: 40px;
  right: 20px;
  top: 15px;
  filter: invert(46%) sepia(6%) saturate(0%) hue-rotate(182deg) brightness(105%)
    contrast(91%);
  background-image: url('../images/show-password.svg');
  background-repeat: no-repeat;
  background-size: contain;
  background-position: center center;
  cursor: pointer;
}

.hide-password {
  position: absolute;
  width: 40px;
  height: 40px;
  right: 20px;
  top: 15px;
  filter: invert(46%) sepia(6%) saturate(0%) hue-rotate(182deg) brightness(105%)
    contrast(91%);
  background-image: url('../images/hide-password.svg');
  background-repeat: no-repeat;
  background-size: contain;
  background-position: center center;
  cursor: pointer;
}
