.navbar-c {
  position: absolute;
  z-index: 3;
  width: 100%;
  background-color: white !important;
}

.left-container-c {
  flex: 1;
  display: flex;
  height: 100%;
  align-items: center;
}

.middle-container-c {
  flex: 1;
  display: flex;
  height: 100%;
  align-items: center;
  justify-content: center;
}

.navbar-light .navbar-nav .nav-link {
  font-family: 'Open Sans', sans-serif !important;
  font-weight: 600 !important;
}

.navbar-light .navbar-brand {
  font-family: 'Open Sans', sans-serif !important;
  font-weight: 600 !important;
}

.navbar-light .navbar-toggler {
  border-color: #212121;
}

.navbar-light .navbar-toggler:hover {
  border-color: #0f4c82;
}

.navbar-position {
  position: relative;
}

.navbar {
  padding-right: 2rem !important;
  padding-left: 2rem !important;
  padding-top: 1rem !important;
  padding-bottom: 0 !important;
}

.nav-center {
  position: absolute;
  left: 50%;
}

.right-container-c {
  flex: 1;
  display: flex;
  height: 100%;
  align-items: center;
  justify-content: flex-end;
}

.logo-c {
  font-family: 'Open Sans', sans-serif;
  white-space: nowrap;
  color: white;
  font-weight: bold;
  text-decoration: none;
  font-size: 25px;
}

.logo-c:hover {
  cursor: pointer;
  color: white;
  text-decoration: none;
}

.navbar-item-c {
  text-decoration: none;
}

.navbar-item-c:hover {
  text-decoration: none;
  cursor: pointer;
}

.navbar-item-button-c {
  color: white;
  text-decoration: none;
}

.navbar-item-button-c:hover {
  color: white;
  text-decoration: none;
  cursor: pointer;
}

.navbar-item-width-height {
  width: 100%;
  height: 100%;
}

.navbar-light .navbar-toggler-icon {
  background-image: url("data:image/svg+xml;charset=utf-8,%3Csvg xmlns='http://www.w3.org/2000/svg' width='30' height='30'%3E%3Cpath stroke='rgba(33, 33, 33, 1)' stroke-linecap='round' stroke-miterlimit='10' stroke-width='2' d='M4 7h22M4 15h22M4 23h22'/%3E%3C/svg%3E");
}

.navbar-light .navbar-toggler-icon:hover {
  background-image: url("data:image/svg+xml;charset=utf-8,%3Csvg xmlns='http://www.w3.org/2000/svg' width='30' height='30'%3E%3Cpath stroke='rgba(15, 76, 130, 1)' stroke-linecap='round' stroke-miterlimit='10' stroke-width='2' d='M4 7h22M4 15h22M4 23h22'/%3E%3C/svg%3E");
}

.navbar-signin-c {
  transform: scale(1);
  width: 100%;
  height: 30px;
  border-radius: 8px;
  border: none;
  background-image: linear-gradient(to right, #0f4c82, #2a70ae);
  color: white;
  cursor: pointer;
  transition: transform 0.2s ease-in-out;
  padding-right: 10px;
  padding-left: 10px;
  padding-top: 0;
  padding-bottom: 0;
}

.navbar-signin-c:hover {
  transform: scale(1.025);
  transition: transform 0.2s ease-in-out;
}

.navbar-title {
  background: linear-gradient(to left, #0f4c82, #2a70ae);
  background-clip: text;
  -webkit-text-fill-color: transparent;
  font-size: 1.5rem !important;
}

.navbar-item-normal {
  color: #212121;
  font-size: 1.15rem !important;
}

.navbar-item-normal:hover {
  color: #0f4c82;
  transition: color 0.2s ease-in-out;
}

.navbar-selected {
  color: #0f4c82;
  font-size: 1.15rem !important;
}

.navbar-selected:hover {
  color: #0f4c82;
}

.navbar-signup-c {
  width: 100%;
  height: 30px;
  border-radius: 8px;
  border-style: none;
  border: 1px #212121 solid;
  color: #212121;
  background-color: transparent;
  cursor: pointer;
  transition: background-color 0.1s ease-in-out;
  padding-right: 10px;
  padding-left: 10px;
  padding-top: 0;
  padding-bottom: 0;
}

.navbar-signup-c:hover {
  color: #0f4c82;
  border: 1px #0f4c82 solid;
  transition: all 0.1s ease-in-out;
}
#collasible-nav-dropdown {
  color: #212121 !important;
  border: 1px #212121 solid;
  border-radius: 8px;
  transition: all 0.1s ease-in-out;
}

#collasible-nav-dropdown:hover {
  color: #0f4c82 !important;
  border: 1px #0f4c82 solid;
  transition: all 0.1s ease-in-out;
}

.navbar-wave {
  position: absolute;
  top: 35px;
  left: 0px;
  width: 100%;
  height: 70px;
  transform: scaleY(-1);
}
.navbar-wave-1 {
  z-index: 2;
}

.navbar-wave-2 {
  z-index: 1;
}
