.register-button-placeholder {
  margin-bottom: 0px !important;
}

.register-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
}

.register-button:hover {
  transform: scale(1.025);
  transition: transform 0.2s ease-in-out;
}

.forgot-password {
  color: #07b6fe;
  cursor: pointer;
}

.submission-buttons {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  width: 100%;
}

.back-button:hover {
  background-color: #0f4c82;
  color: white;
  transition: background-color 0.1s ease-in-out;
}
.register-form-mobile-container {
  display: flex;
  border-radius: 25px;
  background-color: white;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 90%;
  padding: 2rem;
}

.input-error-message {
  width: 100%;
  color: red;
  font-weight: normal;
  text-align: left;
  padding-left: 20px;
}

.shake-error {
  animation: shake 0.82s cubic-bezier(0.36, 0.07, 0.19, 0.97) both;
}

@keyframes shake {
  10%,
  90% {
    transform: translate3d(-1px, 0, 0);
  }

  20%,
  80% {
    transform: translate3d(2px, 0, 0);
  }

  30%,
  50%,
  70% {
    transform: translate3d(-4px, 0, 0);
  }

  40%,
  60% {
    transform: translate3d(4px, 0, 0);
  }
}

@media (min-width: 992px) {
  .register-form {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 75.83%;
  }

  .back-button {
    border-radius: 15px;
    border-style: none;
    border: 2px #0f4c82 solid;
    color: #0f4c82;
    background-color: transparent;
    font-size: 25px;
    cursor: pointer;
    transition: background-color 0.1s ease-in-out;
    padding: 0;
    margin-bottom: 0px !important;
  }

  .border-error {
    border: 2px red solid !important;
  }
  .register-button {
    transform: scale(1);
    border-radius: 15px;
    border: none;
    font-size: 25px;
    background-image: linear-gradient(to left, #ff802c, #e3a143);
    color: white;
    font-weight: bold;
    cursor: pointer;
    transition: transform 0.2s ease-in-out;
    padding: 0;
    margin-bottom: 0px !important;
  }

  .register-form-item {
    width: 100%;
    margin-bottom: 50px;
    height: 70px;
  }

  .register-input {
    border-radius: 50px;
    border: 0px;
    background-color: #e8e8e8;
    font-size: 25px;
    padding: 20px;
  }

  .show-password {
    position: absolute;
    width: 40px;
    height: 40px;
    right: 20px;
    top: 15px;
    filter: invert(46%) sepia(6%) saturate(0%) hue-rotate(182deg)
      brightness(105%) contrast(91%);
    background-image: url('../images/show-password.svg');
    background-repeat: no-repeat;
    background-size: contain;
    background-position: center center;
    cursor: pointer;
  }

  .hide-password {
    position: absolute;
    width: 40px;
    height: 40px;
    right: 20px;
    top: 15px;
    filter: invert(46%) sepia(6%) saturate(0%) hue-rotate(182deg)
      brightness(105%) contrast(91%);
    background-image: url('../images/hide-password.svg');
    background-repeat: no-repeat;
    background-size: contain;
    background-position: center center;
    cursor: pointer;
  }

  .welcome-message {
    margin-bottom: 50px;
    width: 75.83%;
    text-align: left;
    font-size: 60px;
  }
}

@media (max-width: 991px) {
  .register-form {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
  }

  .back-button {
    border-radius: 15px;
    border-style: none;
    border: 2px #0f4c82 solid;
    color: #0f4c82;
    background-color: transparent;
    font-size: 20px;
    cursor: pointer;
    transition: background-color 0.1s ease-in-out;
    padding: 0;
    margin-bottom: 0px !important;
  }

  .border-error {
    border: 1px red solid !important;
  }

  .register-button {
    transform: scale(1);
    border-radius: 15px;
    border: none;
    font-size: 20px;
    background-image: linear-gradient(to left, #ff802c, #e3a143);
    color: white;
    font-weight: bold;
    cursor: pointer;
    transition: transform 0.2s ease-in-out;
    padding: 0;
    margin-bottom: 0px !important;
  }

  .register-form-item {
    width: 100%;
    margin-bottom: 30px;
    height: 50px;
  }

  .register-input {
    border-radius: 50px;
    border: 0px;
    background-color: #e8e8e8;
    font-size: 20px;
    padding: 20px;
  }

  .show-password {
    position: absolute;
    width: 30px;
    height: 30px;
    right: 20px;
    top: 10px;
    filter: invert(46%) sepia(6%) saturate(0%) hue-rotate(182deg)
      brightness(105%) contrast(91%);
    background-image: url('../images/show-password.svg');
    background-repeat: no-repeat;
    background-size: contain;
    background-position: center center;
    cursor: pointer;
  }

  .hide-password {
    position: absolute;
    width: 30px;
    height: 30px;
    right: 20px;
    top: 10px;
    filter: invert(46%) sepia(6%) saturate(0%) hue-rotate(182deg)
      brightness(105%) contrast(91%);
    background-image: url('../images/hide-password.svg');
    background-repeat: no-repeat;
    background-size: contain;
    background-position: center center;
    cursor: pointer;
  }

  .welcome-message {
    margin-bottom: 50px;
    width: 100%;
    text-align: left;
    font-size: 35px;
  }
}
